<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template1}">

<head>
    <meta charset="UTF-8" />
    <title>My Bank</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Consultation de compte</div>
                <div class="panel-body">
                    <form th:action="@{/consulterCompte/}" method="get">
                        <div>
                            <label>Code du compte :</label>
                            <input type="text" name="codeCompte" th:value="${codeCompte}" />
                            <button type="submit" class="btn btn-primary">Consulter</button>
                        </div>
                    </form>
                    <div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
                </div>
            </div>
            <div class="panel panel-primary" th:if="${compte}">
                <div class="panel-heading">Informations sur le compte</div>
                <div class="panel-body">
                    <div>
                        <label>Client :</label>
                        <label th:text="${compte.client.nom}"></label>
                    </div>
                    <div>
                        <label>Code du compte :</label>
                        <label th:text="${compte.codeCompte}"></label>
                    </div>
                    <div>
                        <label>Solde du compte :</label>
                        <label th:text="${compte.solde}"></label>
                    </div>
                    <div>
                        <label>Date de creation :</label>
                        <label th:text="${compte.dateCreation}"></label>
                    </div>
                    <div>
                        <label>Type de compte :</label>
                        <label th:text="${compte.class.simpleName}"></label>
                    </div>
                    <div th:if="${compte.class.simpleName=='CompteCourant'}">
                        <label>Decouvert :</label>
                        <label th:text="${compte.decouvert}"></label>
                    </div>
                    <div th:if="${compte.class.simpleName=='CompteEpargne'}">
                        <label>Taux :</label>
                        <label th:text="${compte.taux}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary" th:if="${compte}">
                <div class="panel-heading">Operations sur le compte</div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-primary" th:if="${compte}">
                <div class="panel-heading">Listes des operations</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Num op</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Montant</th>
                        </tr>
                        <tr th:each="o:${listOperations}">
                            <td th:text="${o.numero}"></td>
                            <td th:text="${o.class.simpleName}"></td>
                            <td th:text="${o.dateOperation}"></td>
                            <td th:text="${o.montant}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>